<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    {{>partials/navbar}}
   <div class="container">
        <div class="card">
            <div class="bg-info card-header text-center">
                <h1>{{ field_one }}!</h1>
            </div>
            <div class="card-body">
                <p> {{ field_two }}.</p>
            </div>
        </div>
        <form action="/add" method="post">
            <input type="text" name="name" placeholder="name">
            <button type="submit" class="btn btn-danger">add</button>
        </form>
        <div>
            <ul>
                {{#each data}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
   </div>

   <div class="container">
        <div class="row mx-auto">
            <ul>
                {{#each users}}
                <div class="card">
                    <div class="card-body">
                        <li>{{this.name}}</li>
                        <li>{{this.address.state}}</li>
                        <li>{{this.phone}}</li>
                        <li>{{this.email}}</li>
                        <li><img src="{{this.image}}" class="img-thumbnail"/></li>
                    </div>
                </div>
                {{/each}}
            </ul>
        </div>
   </div>

</body>
</html>
