<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    
    {{>partials/navbar}}
   <div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h1 class="m-2">{{ title_page }}</h1>
        </div>
        <div class="card-body">
            <p>{{ app_name }}</p>
            <ul>
                {{#each data_table}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{error_msg}}</p>
        </div>
        </div>
   </div>
   <div class="container">
    <div class="row">
        <p class="text-center">This is a {{another_field}} app.</p>
        <button class="btn btn-primary" onclick="counter()">Click Me</button>
        <p class="text-center">You have clicked the button <span id="counter">0</span> times.</p>
    </div>
   </div>
   <div class="container">
       <div class="row">
         <div class="col-6">
            <p>{{success_msg}}</p>
            <p>The post request {{name}}</p>
         </div>
       </div>
   </div>
    <script>
        function counter() {
            let countElement = document.getElementById("counter");
            let count = parseInt(countElement.innerText);
            count++;
            countElement.innerText = count;
        }
   </script>
</body>
</html>
